* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: '微软雅黑', Arial;
  color: #666;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.heights {
  position: fixed;
  top: 0;
  left: 0;
}
em,
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  display: block;
}
/*去掉苹果的默认UI来渲染按钮*/
input,
select,
textarea,
button {
  font-family: inherit;
}
input,
button,
select,
option {
  box-shadow: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
}
/*去除点击高亮效果*/
a,
button,
input,
select,
img,
label {
  -webkit-tap-highlight-color: transparent;
}
select,
input {
  vertical-align: middle;
}
/*placeholder文本颜色*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}
.flexBox {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: box;
  display: flexbox;
  display: inline-flex;
  display: flex;
  flex-flow: row;
  width: 100%;
}
.flexBox .flexBox-item1 {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  -moz-box-flex: 1.0;
  /* Firefox */
  -webkit-box-flex: 1.0;
  /* Safari and Chrome */
  box-flex: 1.0;
}
header {
  height: 3.36000336rem;
  overflow: hidden;
  border-bottom: 2px solid #ddd;
}
header {
  background-color: #FFFFFF;
}
header .nav {
  height: 3.36000336rem;
  position: relative;
  z-index: 30;
  background-color: #fff;
}
header .search {
  display: block;
  float: left;
  position: absolute;
  left: 9.87000987rem;
  top: 0.63000063rem;
}
header .search .searchInput {
  width: 22.89002289rem;
  height: 1.26000126rem;
  padding: 0.42000042rem;
  font-size: 1.00800101rem;
  color: #333;
  padding-left: 2.52000252rem;
  background: url(../images/wap/newtimeanddel.png) no-repeat;
  background-position: 0.7980008rem 0.5040005rem;
  background-size: 1.13400113rem 4.87200487rem;
  background-color: #f4f4f4;
  border-radius: 0.25200025rem;
}
header .search .searchInput.particularly {
  width: 13.44001344rem;
}
header .left {
  top: 0.71400071rem;
  left: 0.84000084rem;
}
header .particulars {
  left: 50%;
  font-size: 1.17600118rem;
  color: #333;
  margin-left: -2em;
  top: 0.84000084rem;
}
header .left {
  display: inline-block;
  z-index: 20;
  float: left;
  position: absolute;
}
header .left span {
  display: inline-block;
  float: left;
}
header .left .logo img {
  width: 7.26600727rem;
  height: 2.01600202rem;
}
header .left .city {
  margin-left: 0.42000042rem;
}
header .left .city select,
header .left .city select option {
  font-size: 1.00800101rem;
  color: #333;
  width: 3.78000378rem;
  height: 1.89000189rem;
  line-height: 1.89000189rem;
  text-align: center;
}
header .left select {
  appearance: none;
  -webkit-appearance: none;
  background: url("../images/wap/weptriangle.png") no-repeat scroll right center transparent;
  padding-left: 0.42000042rem;
  background-size: 0.67200067rem;
}
header .right {
  top: 0.92400092rem;
  right: 1.26000126rem;
}
header .right {
  display: inline-block;
  z-index: 20;
  float: right;
  position: absolute;
}
header .right span {
  display: block;
  float: left;
}
header .right span:first-child {
  margin-right: 0.84000084rem;
}
header .right .top_nav {
  padding: 0rem;
  transform: rotate(0deg);
  transition: 0.4s;
}
header .right .top_nav img {
  width: 1.5960016rem;
  height: 1.5960016rem;
}
header .right .people img {
  width: 1.51200151rem;
  height: 1.51200151rem;
}
header .right .top_nav.rotate {
  transform: rotate(90deg);
  transition: 0.4s;
}
header .navhurdle {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  transition: all 1s;
  display: block;
  overflow: hidden;
  z-index: 10;
}
header .navhurdle.abtop {
  top: 3.36000336rem;
  z-index: 10;
  transition: all 0.6s;
}
header .navhurdle ul {
  overflow: hidden;
}
header .navhurdle ul:first-child {
  margin-top: 0rem;
}
header .navhurdle ul li {
  height: 8.82000882rem;
  line-height: 8.82000882rem;
  float: left;
  display: block;
  text-align: center;
  background: #fff;
  z-index: 12;
}
header .navhurdle ul li:last-child {
  border-right: none;
}
header .navhurdle ul li img {
  margin: 0 auto;
  width: 5.25000525rem;
  height: 3.57000357rem;
  margin-top: 1.76400176rem;
  margin-bottom: 0.67200067rem;
  z-index: 13;
}
header .navhurdle ul li span {
  font-size: 1.09200109rem;
  color: #333;
  width: 100%;
  display: block;
  height: 1.26000126rem;
  line-height: 1.26000126rem;
}
header .navhurdle ul li.colorf4 {
  background-color: #f4f4f4;
}
header .navhurdle ul li.colordd {
  background-color: #ddd;
}
header .wapnavmodel {
  z-index: 9;
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.head {
  height: 3.78000378rem;
  line-height: 3.78000378rem;
  text-align: center;
  font-size: 1.34400134rem;
  color: #333333;
  border-bottom: 1px solid #d7d7d7;
  position: relative;
  background: #FFFFFF;
}
.head .back {
  display: inline-block;
  width: 0.92400092rem;
  height: 1.5960016rem;
  background: url(../images/wap/headback.png) no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  left: 1.68000168rem;
  top: 1.05000105rem;
}
header.bggreen {
  border-bottom: none;
}
header.bggreen .nav {
  background: #13c3aa;
}
header.bggreen .left select {
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  background: url("../images/wap/weptrianglegreen.png") no-repeat scroll right center transparent;
  padding-left: 0.42000042rem;
  background-size: 0.67200067rem;
}
.head {
  height: 3.78000378rem;
  line-height: 3.78000378rem;
  text-align: center;
  font-size: 1.34400134rem;
  color: #333333;
  border-bottom: 1px solid #d7d7d7;
  position: relative;
  background: #FFFFFF;
}
.head .back {
  display: inline-block;
  width: 0.92400092rem;
  height: 1.5960016rem;
  background: url(../images/wap/headback.png) no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  left: 1.68000168rem;
  top: 1.05000105rem;
}
.fix-nav-wrap {
  display: block;
  position: fixed;
  top: 75%;
  right: 0.84000084rem;
  display: none;
  z-index: 9;
}
.fix-nav-wrap img {
  width: 3.78000378rem;
  height: 3.78000378rem;
}
.quote {
  width: 100%;
  height: 6.72000672rem;
  position: relative;
  background: url(../images/wap/wepbottomopen.png) center center no-repeat;
  background-size: 100% 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 8;
}
.quote .button {
  width: 6.72000672rem;
  height: 2.31000231rem;
  display: block;
  position: absolute;
  top: 2.8980029rem;
  right: 3.94800395rem;
}
.quote .open {
  width: 1.09200109rem;
  height: 1.09200109rem;
  display: block;
  position: absolute;
  top: 1.89000189rem;
  right: 0.84000084rem;
}
footer.childfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 8;
  height: 3.78000378rem;
  width: 100%;
}
footer.childfooter .content {
  overflow: hidden;
  background-color: #fff;
}
footer.childfooter .content .left,
footer.childfooter .content .right {
  display: block;
  float: left;
  height: 3.78000378rem;
  overflow: hidden;
}
footer.childfooter .content .left {
  width: 52%;
  border-top: 2px solid #e8e8e8;
}
footer.childfooter .content .right {
  width: 48%;
}
footer.childfooter .content .left li {
  display: block;
  width: 50%;
  float: left;
  position: relative;
}
footer.childfooter .content .left li img {
  display: block;
  margin: 0 auto;
  width: 1.5960016rem;
  height: 1.5960016rem;
  margin-top: 0.42000042rem;
}
footer.childfooter .content .left li span {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 0.84000084rem;
  color: #333;
  line-height: 1.09200109rem;
  height: 1.09200109rem;
  margin-top: 0.5040005rem;
}
footer.childfooter .content .left li i {
  position: absolute;
  display: block;
  width: 0px;
  height: 2.1000021rem;
  border-right: 2px solid #ddd;
  top: 0.84000084rem;
  right: 0;
}
footer.childfooter .content .right {
  float: right;
  width: 48%;
}
footer.childfooter .content .right a {
  display: inline-block;
  line-height: 3.78000378rem;
  text-align: center;
  font-size: 1.26000126rem;
  color: #fff;
  background-color: #00c7a9;
  float: left;
  width: 100%;
}
footer.childfooter {
  background-color: #fff;
}
footer.childfooter .content.rests .left {
  width: 35%;
}
footer.childfooter .content.rests .right {
  width: 65%;
}
footer.childfooter .content.rests .left li {
  width: 100%;
}
.inputBox .exist {
  position: absolute;
  width: 5.04000504rem;
  height: 3.15000315rem;
  line-height: 3.15000315rem;
  right: 0.63000063rem;
  color: #ff3300;
  font-size: 1.00800101rem;
  display: none;
}
.inputBox .exist img {
  display: inline-block;
  position: relative;
  height: 1.17600118rem;
  width: 1.17600118rem;
  top: 0.16800017rem;
  left: 0.08400008rem;
}
.inputBox .exist em {
  color: #ff3300;
  position: relative;
  left: 0;
  top: 0;
  font-size: 1.17600118rem;
  display: inline-block;
}
.noData {
  position: absolute;
  bottom: 0;
  z-index: 999;
  color: #666;
  width: 100%;
  text-align: center;
  height: 2.1000021rem;
  line-height: 2.1000021rem;
  font-size: 0.84000084rem;
  display: none;
}
.nodataPic {
  width: 100%;
  text-align: center;
  margin-top: 10.92001092rem;
}
.nodataPic img {
  display: block;
  width: 10.92001092rem;
  height: 6.09000609rem;
  margin: auto;
}
.nodataPic .note {
  display: inline-block;
  font-size: 1.42800143rem;
  color: #aaaaaa;
}
.orderSuccess {
  width: 15.41401541rem;
  height: 8.61000861rem;
  background: url(../images/wap/ordersuccess.png) no-repeat center center;
  background-size: 100% 100%;
  border-radius: 0.33600034rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -4.32600433rem;
  -webkit-transform: translateX(-50%);
  -webkit-animation: all 2s;
  -webkit-animation-delay: 1.5s;
  opacity: 0;
  z-index: 99999;
}
.tanchu {
  -webkit-animation: tanchu 5s;
  animation: tanchu 5s;
}
@-webkit-keyframes tanchu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hint.tanchu {
  border-radius: 0.42000042rem;
  font-size: 1.26000126rem;
}
.hint.tanchu {
  -webkit-animation: tanchu  1.5s;
  animation: tanchu 1.5s;
}
