<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="email=no" name="format-detection" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<script type="text/javascript">
			var iScale = 1;
			iScale = iScale / window.devicePixelRatio;
			document.write('<meta name="viewport" content="initial-scale=' + iScale + ",maximum-scale=" + iScale + ",minimum-scale=" + iScale + ',user-scalable=no,width=device-width,height=device-height">');
			var iWidth = document.documentElement.clientWidth;
			document.getElementsByTagName('html')[0].style.fontSize = iWidth / 31.5 + 'px';
		</script>
		<link rel="stylesheet" type="text/css" th:href="@{static/css/peopleCentre.css}"/>
		<title>新增收货地址</title>
	</head>
	<body>
		<div class="contentBox">
			<header class="register">
				<a href="###" class="iconfont">&#xe697;</a><span class="text">新增收货地址</span><span class="manage"></span>
			</header>
			<div class="peopleCentre">
				<form id="addressForm" th:action="@{updateAddress}" th:method="post">
				<p class="userName lineBottom">
					<em class="name maxWidth">收货人</em>
					<input type="text" class="addressClass" name="recUserName" placeholder="请输入收货人姓名" th:value="${address.recUserName}"/>
				</p>
				<p class="userName lineBottom">
					<em class="name maxWidth">联系电话</em>
					<input type="text" class="addressClass" name="recUserPhone"  placeholder="请输入收货人联系电话" maxlength="11" th:value="${address.recUserPhone}"/>
				</p>
				<p class="userName lineBottom">
					<em class="name maxWidth">所在地</em>
					<input type="text" class="addressClass" name="recUserArea" placeholder="请输入收货人所在地" th:value="${address.recUserArea}"/>
				</p>
				<p class="userName lineBottom">
					<em class="name maxWidth">详细地址</em>
					<input type="text" class="addressClass" name="recUserAddress"  placeholder="请输入详细地址" th:value="${address.recUserAddress}"/>
				</p>
				<p class="userName lineBottom">
					<em class="name maxWidth">设置为默认</em>
					<span class="default"><i class="clickBtn"></i></span>
				</p>
					<input type="text" name="userId" th:value="${address.userId}"/>
					<input type="text" name="id" th:value="${address.id}"/>
					<input type="hidden" name="isDefault" th:value="${address.isDefault}"/>
				<span class="saveBtn">保存</span>
			</div>
			</form>
		</div>
		<script th:src="@{static/js/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(".default").click(function(){
				$(this).toggleClass("active");
			});

            $(".saveBtn").click(function(){
                $("#addressForm").submit();
            });
		</script>
	</body>
</html>
