<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="email=no" name="format-detection" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport"content="user-scalable=0"/>
		<link rel="stylesheet" type="text/css" th:href="@{static/css/swiper.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{static/css/wepcommonality.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{static/css/homepage.css}"/>
		<title>商品详情</title>
	</head>
	<body>
		<header>
			<div class="nav"> 
				<div class="left particulars">商品详情</div>
				<div class="right">
					<span class="top_nav"><img th:src="@{static/images/wap/wepfunction.png}"/></span>
				</div>
			</div>
			<div class="navhurdle">
				<ul class="indent">
					<li class="orderForm">
						<a th:href="@{center}" class="imgbox">
							<!--需要切图添加-->
							<img th:src="@{static/images/wap/waphomepagenav01.png}"/>
							<span>个人中心</span>
						</a>
					</li>
					<li class="orderForm">
						<a th:href="@{myAddress}" class="imgbox">
							<!--需要切图添加-->
							<img th:src="${res.image}"/>
							<span>我的订单</span>
						</a>
					</li>
					
				</ul>
			</div>
			<div class="wapnavmodel"></div>
		</header>
		<!--建材商城-->
		<div class="shoppingMall fixed">
			<div class="shoppingBox">
				<div class="pd20">
					<a href="###" class="imgbox mt0">
						<img th:src="${res.image}"/>
						<p class="particulars" th:text="${res.name}"></p>
						<p class="number">商品编号：<em th:text="${res.goodsNo}"></em></p>
						<p class="price color"><em class="originalCos">采购价：</em><em class="currentPrice" th:text="${res.promotionPrice}"></em> </p>
					</a>
					<p class="purchaseQuantity">
						<em class="text">购买数量</em>
						<span class="subtract" onclick="subtract()">-</span>
						<input type="text" name="" id="number" value="0" readonly="readonly"/>
						<span class="add" onclick="add()">+</span>
					</p>
				</div>
				<a href="###" class="imgbox">
					<div th:text="${res.descripe}"></div>
				</a>
			</div>
			<p class="btnBox">
				<span class="rightBtn">立即采购</span>
			</p>
		</div>
		<input type="hidden" id="goodsId" th:value="${res.id}"/>
	</body>
	<script th:src="@{static/js/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{static/js/rem.min.js}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		//点击展开
		$('.top_nav').click(function(){
			$('.wapnavmodel').fadeToggle(500);
			$('.top_nav').toggleClass('rotate');
			$('.navhurdle').toggleClass('abtop');
			$('body,html').toggleClass('heights');
		})
		//点击隐藏
		$('.wapnavmodel').click(function(){
			$('.top_nav').toggleClass('rotate');
			$('.navhurdle').removeClass('abtop');
			$('.wapnavmodel').fadeToggle(500);
			$('body,html').toggleClass('heights');
		})
		// 添加订单
        $('.rightBtn').click(function(){
            var goodsId = $("#goodsId").val();
            var goodsNum = $("#number").val();
            console.log(goodsId)
            console.log(goodsNum)

			var order = {

			}
            $.ajax({
                //提交数据的类型 POST GET
                type:"POST",
                //提交的网址
                url:"/mall/addOrder",
                //提交的数据
                data:{goodsId:goodsId,
                    goodsNum:goodsNum},

                //成功返回之后调用的函数
                success:function(data){
                    console.log("登录返回值"+data);
                    if(data){
                        location.href = "orderDetailsNoAddress?orderCode="+data;
                    }
                }
            });
        })
		;
		var num=1;
		function subtract(){
			if(num>0){
				num--;
			}else{
				num=0;
				return;
			}
			$("#number").val(num);
		}
		function add(){
			if(num>=99){//最大个数限制为99
				return
			}else{
				num++;
			}
			$("#number").val(num);
		}
	</script>
</html>
